@tailwind base;

@tailwind components;

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

.FormLabel {
    display: inline-block;
    color: #192532;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.TextFieldValidationMessage {
    margin-top: 0.5rem;
}

.AutocompleteDropdown {
    display: block !important;
}

.TextField__label-wrapper {
    display: flex;
    font-size: 0.875rem;
    align-items: center;
}

.TextField {
    width: 100%;
    display: block;
}

.TextInput {
    width: 100%;
    display: flex;
}

.AutocompleteInput {
    display: flex;
}

.AutocompleteInput input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.AutocompleteInput input::-ms-clear {
    display: none;
}

.InputIconButton {
    position: relative;
    z-index: 999;
    margin-left: -2rem !important;
}

.TextInput__input {
    outline: none;
    background-color: #fff;
    border: 1px solid #d3dce0;
    max-height: 2.5rem;
    color: #536171;
    font-size: 0.875rem;
    padding: 0.65625rem;
    margin: 0;
    width: 100%;
}

/* Utilities */
.border-none {
    border: 0 !important;
}

/* pagination styles */
.pagination .disabled {
    color: #d3dce0;
    cursor: default !important;
}
.pagination .disabled:hover {
    background-color: transparent;
}
.pagination-active {
    cursor: default !important;
}
.pagination-active:hover {
    background-color: #2e75d4;
}
