.sk-flow {
    display: flex;
    justify-content: space-between;
}

.sk-flow-dot {
    width: 25%;
    border-radius: 50%;
    animation: sk-flow 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite
        both;
}

.sk-flow-dot:nth-child(1) {
    animation-delay: -0.3s;
}
.sk-flow-dot:nth-child(2) {
    animation-delay: -0.15s;
}

@keyframes sk-flow {
    0%,
    80%,
    100% {
        transform: scale(0.3);
    }
    40% {
        transform: scale(1);
    }
}
